body
	width: 972px
	border-right: dotted grey 1px;

h1
	color: red

h2
	font-size: 22px

.active
	background-color: rgb(115, 115, 249)

#one
	width: 972px
	float: left
	/*background: cyan*/
	position: absolute

#two
	width: 774px
	float: left
	position: absolute
	border-right: solid 1px grey

span.piepag
	background-color: yellow
	
h1, h2, h3, h4
/*	font-variant: small-caps 	*/
	text-transform: uppercase
	font-family: sans-serif;

/* inline quotation */
q
	font-style: italic

.smallcaps
	font-size: small
sup
	font-size: 0.83em
	vertical-align: super
	line-height: 0

.intro-note
	font-size: 1.1em
	background-color: #f5f5dc
	border: 1px solid #cbcb4d
	padding: 10 10 10 10

/* In your CSS */
.Collage
	/* define how much padding you want in between your images */
	padding: 10px

.Collage 
	img
		/* ensures padding at the bottom of the image is correct */
		vertical-align: bottom
		/* hide the images until the plugin has run. the plugin will reveal the images*/
		opacity: 0

article
	.news
		section
			overflow: hidden
			padding: 10px
			margin-top: 10px
			height: auto
			background-color: #f9f9f9
			img
				/*float: left*/
				padding: 0px 10px 0px 0px
			figure
				float: left
				width: 300px /* siempre, ver partial srblNoticia */
				clear: both
				margin: 10px
				text-align: center
			figcaption
				font-family: sans-serif
				font-stretch: condensed
				font-size: 14px
				padding-top: 10px
				word-wrap:normal
				text-align: center
	header
		h2
			font-family: 'Roboto Condensed', sans-serif;
			color: #729fbc;
.accordion-toggle 
	cursor: pointer
.accordion-content
	display: none
.accordion-content.default
	display: block
