body
	width: 972px
	border-right: dotted grey 1px;

h1
    color: red

#one
	width: 972px
	float: left
	background: cyan
	position: absolute

#two
	width: 774px
	float: left
	position: absolute
	border-right: solid 1px grey

span.piepag
	background-color: yellow
	
/*	
h2	
	font-variant: small-caps; 	
*/

/* In your CSS */
.Collage
	/* define how much padding you want in between your images */
	padding: 10px

.Collage 
	img
		/* ensures padding at the bottom of the image is correct */
		vertical-align: bottom
		/* hide the images until the plugin has run. the plugin will reveal the images*/
		opacity: 0

article
	.news
		section
			overflow: hidden
			padding: 10px
			margin-top: 10px
			height: auto
			background-color: #f9f9f9
			img
				float: left
				padding-right: 10px